<div>
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
    <div class="content">
        <div class="actions">
            <button mat-button>Get general price</button>
        </div>
        <div class="product-price-cards">
            <div class="product-price-card" *ngFor="let productPrice of data; last as isLast">
                <div [ngClass]="{'last': isLast}">
                    <app-product [product]="productPrice"></app-product>
                </div>
            </div>
        </div>
    </div>
</div>