.content {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;

    .product-price-card {
        margin-top: 20px;
        min-width: 480px;
    }

    .last {
        margin-bottom: 20px;
    }

}